<!DOCTYPE html>
<html>
    <head>
        <title> MyBrary </title>
    </head>

    <body>
        <%- include('../partials//header.ejs') %>
        <%- body %> <!--imports everything from all the pages of the application-->      
    </body>
</html>