<!DOCTYPE html>
<html>
    <head>
        <title> MyBrary </title>
    </head>

    <body>
        Before 
        <br>
        <%- body %> <!--imports everything from all the pages of the application-->
        <br>
        After
    </body>
</html>